In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('newspaper_prices.csv') 
df

   P Cost  P Views  Q Cost  Q Views  R Cost  R Views
0      50    20000     150   200000      50    10000
1      50    15000     150   210000      50    20000
2      50    23000     150   175000      50    20000
3      50    20000     150   230000      50    14000
4      75    19000     200   150000      75    23000
5     100    30000     300   500000     100    22000
6     100    40000     300   450000     100    25000

In [5]:
df.sum()

P Cost         475
P Views     167000
Q Cost        1400
Q Views    1915000
R Cost         475
R Views     134000
dtype: int64

In [6]:
df[['P Cost', 'Q Cost', "R Cost"]].mean(axis = 1)

0     83.333333
1     83.333333
2     83.333333
3     83.333333
4    116.666667
5    166.666667
6    166.666667
dtype: float64