In [1]:
import pandas as pd

df = pd.read_csv('20scores.csv')
df.head()

    revenue    score0    score1  ...   score17   score18   score19
0  30698.74  0.067763  1.762772  ...  0.330061 -1.019798 -1.409513
1  46813.75  0.943657 -0.696100  ...  1.505998  0.671251  0.315013
2  39493.35 -0.070838 -1.817580  ...  3.267201 -0.010580 -1.725084
3  48130.55 -0.133306  0.815997  ...  1.469621 -1.839971 -0.456130
4  35129.09  0.452780  1.529394  ...  0.226051 -1.447333  0.463009

[5 rows x 21 columns]

In [2]:
from sklearn.model_selection import train_test_split

x_cols = df.columns[1:]
X = df[x_cols]

y = df['revenue']

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 10)

In [3]:
from sklearn.linear_model import LinearRegression

model = LinearRegression()
model.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [4]:
model.coef_

array([ 3.10465458e+01,  1.35929333e+00, -1.71996170e+01, -4.26396854e+00,
       -4.56514104e+00,  2.71178012e+01,  1.12523398e+01, -9.62768549e+00,
        1.28097189e+01, -3.82102937e+01, -3.92691076e+00, -4.49267755e+00,
        9.12581579e+03,  2.81237962e+01,  1.26722148e+01,  1.99096955e+01,
       -1.73401880e+01,  3.77047162e+03, -7.57356369e+00,  4.99844116e+03])

In [5]:
from sklearn.feature_selection import RFE

In [6]:
rfe = RFE(estimator=LinearRegression(), n_features_to_select=5)

In [7]:
rfe.fit(X_train,y_train)

RFE(estimator=LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
                               normalize=False),
    n_features_to_select=5, step=1, verbose=0)

In [8]:
for featureNum in range(X_train.shape[1]):
  # If feature was selected
  if rfe.support_[featureNum] == True:
    # Print feature name and rank
    print("Feature: {}, Rank: {}".format(X_train.columns[featureNum],rfe.ranking_[featureNum]))

Feature: score0, Rank: 1
Feature: score9, Rank: 1
Feature: score12, Rank: 1
Feature: score17, Rank: 1
Feature: score19, Rank: 1

In [9]:
X_train_reduced = X_train[X_train.columns[rfe.support_]]
X_test_reduced = X_test[X_train.columns[rfe.support_]]

In [10]:
rfe_model = LinearRegression()
rfe_model.fit(X_train_reduced,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [11]:
from sklearn.metrics import mean_squared_error

predictions = model.predict(X_test)
print(mean_squared_error(predictions, y_test)**0.5)

491.7883376857259

In [12]:
rfe_predictions = rfe_model.predict(X_test_reduced)
print(mean_squared_error(rfe_predictions, y_test)**0.5)

487.6184171986599